<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quote PDF</title>
    <style>
        h1 {
            text-align: center;
        }

        table {
            border: 1px solid;
            margin: 0 auto;
            width: 70%;
        }

        td, th {
            text-align: center;
            border: 1px solid;
        }
    </style>

</head>
<body>

    <form method="get">
        <div class="container">
            <div class="jumbotron">
                <h1>{{ object }}</h1>
            </div>


            <div class="container">
                <div class="col-sm">

                    <table class="table table-striped" style="background-color: white">
                        <thead>
                        <tr>
                            <th scope="col">نام محصولات</th>
                            <th scope="col">تعداد</th>
                            <th scope="col">قیمت هر عدد دستگاه</th>
                            <th scope="col">درصد تخفیف</th>
                            <th scope="col">درصد مالیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object.quoteitem_set.all %}
                            <tr>
                            <td>{{ object.product }}<br></td>
                            <td>{{ object.qty }}</td>
                            <td>{{ object.product.price }}</td>
                            <td>{{ object.discount }}</td>
                            <td>{{ object.tax }}</td>
                        {% endfor %}
                        </tr>

                        </tbody>
                    </table>
                    <table class="table table-striped" style="background-color: white">
                        <thead>
                        <tr>
                            <th scope="col">مجموع خرید بدون تخفیف</th>
                            <th scope="col">مجموع خرید با تخفیف</th>
                            <th scope="col">مجموع نهایی خرید با احتساب مالیات</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>{{ object.get_price_without_discount }}<br></td>
                            <td>{{ object.get_price_with_discount }}</td>
                            <td>{{ object.get_price_with_tax }}</td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </form>
</body>
</html>
