{% extends 'organs/base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <form method="get">

        <div id="main" class="product-list">
            {% for product in object_list %}
                <div class="item">
                    <a href="{{ product.get_absolute_url }}">
                        <img class="rounded mx-auto d-block img-thumbnail" style="width: 300px; height: 300px;"
                             src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Responsive image">
                    </a>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    <br>
                    <p style="color: white">${{ product.price }}</p>
                </div>
            {% endfor %}
        </div>
    </form>

    <div class="pagination container-fluid">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current" style="color: white">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
