{% extends 'organs/base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Organs{% endif %}
{% endblock %}
{% block content %}


    <form method="get">
        <div class="container">
            <div class="jumbotron">
                <h1>تاریخچه ی پیگیری های سازمان {{ object }}</h1>
            <button><a href="{% url 'organ_list' %}">بازگشت</a></button>


            </div>


        <div class="container">
        <div class="col-sm">

            <table class="table table-striped" style="background-color: white">
                <thead>
                <tr>
                    <th scope="col" class="col-lg-1">#</th>

                    <th scope="col" class="col-lg-2">ثبت توسط</th>
                    <th scope="col" class="col-lg-3">تاریخ ثبت</th>
                    <th scope="col" class="col-lg-5">توضیحات</th>

                </tr>
                </thead>
                <tbody>
                {% for obj in description.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>

                        <td>{{ obj.created_by }}</td>
                        <td>{{ obj.created|date:"Y-m-d , H:i:s" }}</td>
                        <td>{{ obj.description }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
            </div>
            </div>
    </form>
{% endblock %}